@import "src/styles/colors";
@import "src/styles/elevation";

.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0.5rem;
}

.label {
  font-size: 1rem;
  padding: 0.5rem;
  border: 1px solid transparent;
  &:after {
    content: ":";
  }
}

.input {
  font-size: 1rem;
  padding: 0.5rem;
  border: 1px solid $silver;
  border-radius: 2px;
}

.error {
  font-size: 1rem;
  padding: 0.5rem;
  padding-left: 0rem;
  color: $red;
}
