$aqua: #7fdbff;
$blue: #0074d9;
$lime: #01ff70;
$navy: #001f3f;
$teal: #39cccc;
$olive: #3d9970;
$green: #2ecc40;
$red: #ff4136;
$maroon: #85144b;
$orange: #ff851b;
$purple: #b10dc9;
$yellow: #ffdc00;
$fuchsia: #f012be;
$gray: #aaaaaa;
$white: #ffffff;
$black: #111111;
$silver: #dddddd;

$player0-color: #775478;
$player1-color: #a8b240;
$player2-color: #e2905d;
$player3-color: #769ba3;
$player4-color: #ee4136;
$player5-color: #81888f;
