@import "src/styles/colors";
@import "src/styles/elevation";

$transition-time: 120ms;

.base {
  position: absolute;
  width: 20rem;
  height: 20rem;
  left: 50%;
  top: 100%;
  padding: 2rem;
  background-color: $white;
  transform: translateX(-50%);
  @include elevateTo12;
}

.afterOpen {
  top: 8%;
  transition: top $transition-time ease-out;
}

.beforeClose {
  transition: top $transition-time ease-in;
  top: 100%;
}
